{% load static %}
<!-- Navbar -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=+526691504584&text=Hola%21%20Me%20gustaria%20hacer%20un%20pedido."
    class="whatsapp-float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
<nav id="navbar">
    <a href="#home"><img src="{% static 'img\logo.png' %}" alt="Frutería Valeria logo" class="logo"></a>
    <ul>
        <li><a href="#what">Servicios</a></li>
        <li><a href="#about">Nosotros</a></li>
        <li><a href="#contact">Contacto</a></li>
    </ul>
</nav>